<h1>Agregar video </h1>

<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">


  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">

      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label> Url del video</mat-label>
        <input matInput type="url" placeholder="Ejemplo: https://www.youtube.com/watch?v=KVypm4jM0l8"
          [(ngModel)]="urlIngresada" required >
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="procesarUrl(urlIngresada)">
        <mat-icon>search</mat-icon>
      </button>



    </div>

    <div *ngIf="urlProcesada;  " class="row">


      <mat-card>
        <iframe width="100%" height="250px" [src]="video.idVideo | safeurl" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </mat-card>
    </div>

    <div *ngIf="urlProcesada;  " class="row">
      getVideosPorIdVideo
      <div *ngFor="let videoD of videos">

        <mat-card-actions>
          <button mat-raised-button color="warn"
            (click)="obtenerTituloYArtistaCanalFecha(videoD.snippet.title, videoD.snippet.channelTitle,videoD.snippet.publishTime)">
            Agregar Video
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>

      </div>

    </div>

    <form   autocomplete="off"  [formGroup] ="miFormulario"  (ngSubmit)="guardar()"       
             >

               <mat-form-field>
                <mat-label> Codigo video</mat-label>
                <input matInput 
                type="text"
                 formControlName = idVideo
                 required 
                 value="{{video.idVideo}}">
                 <!-- [(ngModel)]="video.idVideo"  -->
              </mat-form-field>

              <mat-form-field>
                <mat-label> Titulo</mat-label>
                <input matInput #message type="text" 
                
                formControlName="titulo"
               
          
                name="titulo"
                required 
                value="{{video.titulo}}" 
                maxlength="25">

                 <!-- [(ngModel)]="video.titulo"  -->


                <span class="form-text text-danger" 
                *ngIf="tituloInvalido()"             
                >El titulo debe contener 25 caracteres maximo</span>
              </mat-form-field>

              <mat-form-field>
                <mat-label> Canal</mat-label>
                <input matInput type="text" 
                       formControlName="canal"
                       required value="{{video.canal}}"
                       name="canal">
                       <!-- [(ngModel)]="video.canal"  -->
              </mat-form-field>
          
              <mat-form-field>
                <mat-label> artista</mat-label>
                <input matInput type="text" formControlName="artista" required 
                        name="artista"  
                      value="{{video.artista}}">
              </mat-form-field>
          
              <mat-form-field>
                <mat-label> Url</mat-label>
                <input matInput type="text" formControlName="urlVideo" required  value="{{video.urlVideo}}">
              </mat-form-field>
          
              <mat-form-field>
                <mat-label> Fecha Publicacion</mat-label>
                <input matInput type="text" formControlName="fechaVideo" required name="fechaVideo"
                 value="{{video.fechaVideo}}">
              </mat-form-field>
          
              <mat-form-field>
                <mat-label> Video activo</mat-label>
                <input matInput type="text" formControlName="activo" required name="activo" value="true">
              </mat-form-field>
          
              <mat-form-field>
                <mat-label> Duración</mat-label>
                <input matInput type="text" formControlName="duracion" name="duracion" required value="null">
              </mat-form-field>


              <button
              type="button"
              (click)="guardar()"
               mat-raised-button color="warn" 
               >
                <mat-icon>edit</mat-icon>
                Guardar
              </button>

    </form> 

  </div>
</div>