<div class="mt-2">
  <h2>Agregar Apuestas</h2>
</div>



<div class="container mt-5">


  <form  autocomplete="off"
[formGroup] = 'miFormulario'
(ngSubmit)="guardarApuesta()">

<div class="mb-3" >
  <select   class="form-control" 
  formControlName="id" >
  <option value="">Seleccione video</option>
    <option   *ngFor="let video of videos" 
    [value]="video.id | number">{{video.titulo}}</option>
       </select>
 </div>

 
 

 <div class="mb-3">
  <label for="preciov" class="form-label">Precio Vistas</label>
  <input  formControlName="preciov" type="number" class="form-control" id="exampleInputEmail1" >
  <span class="form-text text-danger"
  *ngIf="elCampoNoEsValido('preciov')">Debe der igual o mayor que 0</span>
  </div>


<div class="mb-3">
  
  <label for="preciol" class="form-label">Precio Like</label>
  <input  formControlName="preciol" type="number" class="form-control" id="exampleInputEmail1" >
  <span class="form-text text-danger"
  *ngIf="elCampoNoEsValido('preciol')">Debe der igual o mayor que 0</span>
</div>


<div class="mb-3">
  
  <label for="preciod" class="form-label">Precio Dislike</label>
  <input  formControlName="preciod" type="number" class="form-control" id="exampleInputEmail1" >
  <span class="form-text text-danger"
  *ngIf="elCampoNoEsValido('preciod')">Debe der igual o mayor que 0</span>
 
</div>


<div class="mb-3">
  <label for="precioc" class="form-label">Precio Comentario</label>
  <input  formControlName="precioc" type="number" class="form-control" id="exampleInputEmail1" >
  <span class="form-text text-danger"
  *ngIf="elCampoNoEsValido('precioc')">Debe der igual o mayor que 0</span>
</div>

<div class="mb-3">
  <label  class="form-label">Activar Apuesta</label>
  <select formControlName="activo" class="form-select" aria-label="Default select example" >
    <option [value]="video.activo" *ngFor="let activo of activos" selected > 
       {{activo.viewValue}}</option></select>
       <span class="form-text text-danger"
  *ngIf="elCampoNoEsValido('activo')">Seleccione una opcion valida</span>
</div>

<div class="mb-3">
  <label  class="form-label">Fecha Apuesta</label>
  <input matInput type="text" put formControlName="fechahoraapuesta" 
  type="datetime-local" id="datetime"    class="form-select mb-3"   >
  

  <script type="text/javascript">
    $("#datetime").datetimepicker({
        format: 'L("yyyy-mm-dd, HH:MM")' // 'yyyy-mm-dd hh:ii' 
    } );
    </script>

<span class="form-text text-danger"
*ngIf="elCampoNoEsValido('fechahoraapuesta')">Seleccione una fecha correcta</span>
</div>

<div>
  <button type="submit" class="btn btn-primary" [disabled]>Guardar</button>
</div>


</form>
  

  




</div>


<span>Valid</span>
      <pre>{{ miFormulario.valid }}</pre>

      <span>Value</span>
      <pre>{{ miFormulario.value | json }}</pre>
<!-- 
<div class="row">
  <div class="col">

      <span>Valid</span>
      <pre>{{ miFormulario.valid }}</pre>

      <span>Pristine</span>
      <pre>{{ miFormulario.pristine }}</pre>

      <span>Touched</span>
      <pre>{{ miFormulario.touched }}</pre>

      <span>Value</span>
      <pre>{{ miFormulario.value | json }}</pre>

      <span>Precio</span>
      <pre>{{ miFormulario.controls.precio.errors | json }}</pre>
  </div>
</div>
 -->